---
export const prerender = false;

import { getRuntime } from "@astrojs/cloudflare/runtime";

import "../styles/global.css";
import { createRuntimeEnv } from "../t3-env";

import Wrapper from "@layouts/Wrapper.astro";
import MyClientComponent from "@components/MyClientComponent";

const env = createRuntimeEnv(getRuntime(Astro.request)?.env);
console.log(env.PUBLIC_API_URL);

import { trpcAstro } from "../scripts/client";
const users = await trpcAstro(env.CF_PAGES_URL).users.getById.query("1");
---

<Wrapper>
  <div>
    <p>Hello world!! This is a short paragraph.</p>
    {JSON.stringify(users)}
    <MyClientComponent client:only />
  </div>
</Wrapper>
