---
export const prerender = false;

import { getRuntime } from "@astrojs/cloudflare/runtime";

import "../styles/global.css";
import { createRuntimeEnv } from "../t3-env";

import Wrapper from "@layouts/Wrapper.astro";
import MyClientComponent from "@components/MyClientComponent";

const env = createRuntimeEnv(getRuntime(Astro.request)?.env);
console.log(env.PUBLIC_API_URL);

import { trpcAstro } from "../scripts/client";
const users = await trpcAstro(env.CF_PAGES_URL).users.getById.query({
	id: "d13d8a1f-a369-4e55-a93e-cc46e0a16309",
});
---

<Wrapper>
	<div>
		<p>Hello World, this is Alex! This is a short paragraph.</p>
		{JSON.stringify(users)}
		<MyClientComponent client:only />
	</div>
</Wrapper>
